<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Kain Huck">
    <title>{{title}}</title>
</head>
<body>
    {% block main %}
    <h1>hello world</h1>
    {% end %}

    <h1>
        {% block hello %}
        <p>test</p>
        {% end %}
    </h1>

     <footer>
            {% block footer %}
                <p>
    For more information about our selection, hours or events, please email us at
    <a href="mailto:contact@burtsbooks.com">contact@burtsbooks.com</a>.
                </p>
            {% end %}
     </footer>
</body>
</html>